catkin_ws/build/
catkin_ws/devel/
catkin_ws/install/
catkin_ws/log/
catkin_ws/logs/

catkin_deps_ws/build/
catkin_deps_ws/devel/
catkin_deps_ws/install/

*.o
*.so
*.a
CMakeCache.txt
CMakeFiles/

.vscode/
.idea/
*.bag

# 运行生成的数据和地图
/data/
/map/
data/
map/
images/

# 大型仿真地图和点云文件
/eden_src/autonomous_exploration_environments/campus/meshes/campus.dae
/eden_src/autonomous_exploration_environments/garage/preview/pointcloud.ply
**/pointcloud.ply
