catkin_ws/build/
catkin_ws/devel/
catkin_ws/install/
catkin_ws/log/
catkin_ws/logs/

catkin_deps_ws/build/
catkin_deps_ws/devel/
catkin_deps_ws/install/

*.o
*.so
*.a
CMakeCache.txt
CMakeFiles/

.vscode/
.idea/
*.bag

# 运行生成的数据和地图
/data/
/map/
