<launch>

    <node name="map_test" pkg="ato_test" type="map_test_node" output="screen">
        <rosparam command="load" file="$(find block_map)/color/Paranoid.yaml" />
        <rosparam command="load" file="$(find ato_test)/resource/map_test.yaml" />
        <remap from="/depth" to="/firefly/vi_sensor/camera_depth/depth/disparity/image_rect_raw_throttle"/>
        <remap from="/odom" to="/firefly/ground_truth/odometry"/>
        <remap from="/vi_odom" to="/firefly/ground_truth/odometry"/>
        <remap from="/block_map/caminfo" to="/firefly/vi_sensor/camera_depth/depth/camera_info"/>
    </node>

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="screen" args="-d $(find ato_test)/rviz/map_test.rviz" />
<!-- <node pkg="rosbag" type="record" name="bag_record" args="
        /move_base_simple/goal
        /initialpose
        -o /home/charliedog/rosprojects/DoomSea/cmd.bag"/> -->
</launch>